.pageTitle {
    margin: 5px auto;
    justify-content: space-around;
    align-content: center;   
    text-align: center;

    h1 {
        font-family: 'Bree Serif', "Helvetica Neue", sans-serif;
        font-size: 2em;
        font-weight: 700;
        color: #1f0949;     
    }
}
