.header{
    display: flex;
    margin-bottom: 5px;
    align-content: center;
    background-color: rgb(255, 211, 169);

    .navlinks{
        justify-content: flex-end;
        align-content: center;
        text-align: center;
        align-items: center;
        a {
            font-family: 'PT Sans Narrow', "Helvetica Neue", sans-serif;
            font-weight: 700;
            font-size: 1.2em;
            text-decoration: none;
            padding: 0px 10px;
        }
    }
}